<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card mb-3">
    <div class="card-header text-center">
      <%= person.name %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="fw-bold">
          Mass:
        </span>
         <%= person.mass %>
      </li>
      <li class="list-group-item">
        <span class="fw-bold">
          Homeworld:
        </span>
        <%= person.homeworld %>
      </li>
    </ul>
  </div>
</div>

