<div class="col-12">
  <div class="card my-3 ">
    <div class="card-body">
      <h5 class="card-title text-center"><%= film.title %></h5>
      <p class="card-text">
        <div class="row">
          <%= render film.people %>
        </div>
      </p>
    </div>
    <div class="card-footer text-muted text-center">
      Total: <%= film.people.count %>
    </div>
  </div>
</div>